.button, main, div{
    border: 1px solid #000;
}

header{
    border: 1px solid #000;  
    text-align: center;
}

main {
    width: 300px;
    margin: 50px auto;    
}

#outcontainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#clear, #output{
    width: 20px;
    height: 20px;
    margin: 7px;
    text-align: center;
    line-height: 20px;
}

#output {
   margin-left: auto; 
   width: 250px;
   text-align: right;
   padding-right: 5px;
}

#clear:hover, .button:hover{
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.button{
    width: 45px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    margin: 10px;
}